body {
  background-color: #FFD221;
  font-size: 18px; }

.img-Active {
  animation: clopeAnim 1.2s;
  display: block; }

.clope-Active::after {
  height: 50px !important;
  opacity: 1 !important; }
.clope-Active::before {
  height: 50px !important;
  opacity: 1 !important; }

.reverse {
  flex-direction: row-reverse; }

.Component {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  width: 87%; }
  .Component-Container {
    background-color: #FFF;
    width: 350px;
    font-family: "raleway";
    z-index: 1; }
    .Component-Container-Title {
      width: 90%;
      margin: auto;
      padding-top: 40px;
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 36px;
      position: relative; }
      .Component-Container-Title::after {
        content: "";
        display: block;
        margin-left: 40px;
        width: 200px;
        height: 20px;
        bottom: 0px;
        z-index: -3;
        background-color: #FDE74C;
        position: absolute;
        transition: height .3s; }
      .Component-Container-Title:hover:after {
        height: 30px; }
    .Component-Container-Infos {
      width: 90%;
      line-height: 150%;
      margin: 50px 0 0 20px;
      padding-bottom: 110px; }
  .Component .Clope {
    border: 45px rgba(255, 215, 56, 0.83) solid;
    border-radius: 50%;
    width: 674px;
    height: 674px;
    position: relative; }
    .Component .Clope::before {
      content: "";
      display: block;
      width: 6px;
      height: 0px;
      opacity: 0;
      background-color: #000;
      position: absolute;
      top: 100px;
      right: 35%;
      transition: height 1s, opacity 1s; }
    .Component .Clope::after {
      content: "";
      display: block;
      width: 6px;
      height: 0px;
      opacity: 0;
      background-color: #000;
      position: absolute;
      bottom: 100px;
      left: 35%;
      transition: height 1s, opacity 1s; }
  .Component .Clope-Image-Container {
    width: 100%;
    height: 100%;
    position: relative; }
  .Component .img-Container {
    position: absolute;
    opacity: .2;
    width: 70%;
    height: auto;
    margin: 50% auto 0;
    left: 0;
    right: 0;
    transform: translateY(-50%) rotate(30deg);
    transition: opacity 1s; }
    .Component .img-Container img {
      width: 100%; }

.Navigation {
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 5%;
  transition: opacity .4s; }
  .Navigation .Round-Container {
    margin-top: 50vh;
    transform: translateY(-50%); }
    .Navigation .Round-Container-Round {
      margin-bottom: 60px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      background-color: white; }

@keyframes clopeAnim {
  from {
    margin: 90% auto 0; }
  to {
    margin: 50% auto 0; } }
.bubble1 {
  position: absolute;
  z-index: -1;
  width: 50px;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 50px;
  margin-top: 100%;
  opacity: 0.05;
  left: 500px; }

.bubble2 {
  opacity: 0.05;
  position: absolute;
  width: 100px;
  z-index: -1;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 30%;
  left: 800px; }

.bubble3 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 50%;
  left: 200px; }

.bubble4 {
  z-index: -1;
  position: absolute;
  width: 70px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 70px;
  margin-top: 70%;
  right: 150px; }

.bubble5 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 150%;
  left: 800px; }

.bubble6 {
  z-index: -1;
  position: absolute;
  width: 150px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 150px;
  margin-top: 150%;
  right: 200px; }

.bubble7 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 180%;
  left: 200px; }

.bubble8 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 200%;
  right: 500px; }

.bubble9 {
  z-index: -1;
  position: absolute;
  width: 70px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 70px;
  margin-top: 280%;
  left: 800px; }

.bubble10 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 310%;
  left: 300px; }

.bubble11 {
  z-index: -1;
  position: absolute;
  width: 60px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 60px;
  margin-top: 270%;
  right: 200px; }

.bubble12 {
  z-index: -1;
  position: absolute;
  width: 60px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 60px;
  margin-top: 10%;
  right: 200px; }

.bubble13 {
  z-index: -1;
  position: absolute;
  width: 60px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 60px;
  margin-top: 20%;
  left: 200px; }

.bubble14 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 43%;
  left: 400px; }

.header {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  width: 90%;
  background-color: #FFD221;
  z-index: 10000000000000; }
  .header-content {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-logo {
    font-family: "Raleway";
    font-weight: bolder;
    font-size: 20px;
    display: block; }
  .header-link {
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 3px solid black;
    display: block;
    transition: all .3s ease-out; }
    .header-link:hover {
      border-color: transparent;
      opacity: .7; }

.is-Active::after {
  width: 72px !important; }
.is-Active::before {
  width: 72px !important; }

.home-img {
  width: 75px;
  position: absolute;
  margin: 50% auto 0;
  left: 0;
  opacity: 0;
  right: 0;
  transform: translateY(-50%);
  transition: opacity 1.5s; }
.home-imgContainer {
  border: 45px rgba(255, 215, 56, 0.83) solid;
  border-radius: 50%;
  width: 674px;
  height: 674px;
  position: relative; }
  .home-imgContainer::before {
    content: "";
    display: block;
    width: 0px;
    height: 6px;
    background-color: #000;
    position: absolute;
    top: 150px;
    right: 20%;
    transition: width 1s; }
  .home-imgContainer::after {
    content: "";
    display: block;
    width: 0px;
    height: 6px;
    background-color: #000;
    position: absolute;
    bottom: 150px;
    left: 20%;
    transition: width 1s; }
.home-content {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  width: 87%; }
.home-title {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 23vh;
  width: 590px;
  line-height: 150%;
  position: relative; }
  .home-title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    margin-left: 100px;
    width: 200px;
    height: 20px;
    bottom: 10px;
    background-color: #FDE74C;
    transition: height .3s; }
  .home-title:hover:after {
    height: 30px; }
.home-explication {
  font-family: "raleway";
  font-weight: 500;
  font-size: 16px;
  width: 300px;
  line-height: 150%; }
.home .home-textContainer {
  width: 350px; }

.formulaire {
  top: 50vh;
  transform: translateY(-50%);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 1509px; }
  .formulaire-title {
    font-size: 50px;
    margin-bottom: 120px;
    font-family: "Montserrat";
    font-weight: bolder; }
  .formulaire-inputContainer {
    display: flex;
    align-items: center; }
  .formulaire-input {
    border: none;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    height: 55px;
    width: 300px;
    margin-top: 37px;
    margin-bottom: 47px;
    margin-right: 20px;
    padding-left: 15px;
    font-size: 14px; }
  .formulaire-textarea {
    border: none;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    resize: none;
    font-size: 14px;
    padding: 30px 0 0 30px; }
  .formulaire-submit {
    position: relative;
    border: none;
    height: 60px;
    width: 60px;
    background-color: #003049;
    color: white;
    right: 30px;
    transition: all .5s; }
    .formulaire-submit:hover {
      transform: scale(1.2); }

.msg {
  width: 100vw;
  height: 100vh;
  display: flex; }
  .msg-title {
    font-size: 40px;
    justify-content: center;
    align-items: center; }

.Footer {
  width: 100%;
  padding: 30px 0;
  margin-top: 10vh;
  display: flex;
  background-color: #FFD738; }

.Footer-item {
  width: 70%;
  height: 100px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 3px solid black; }

.Icone {
  width: 40px; }

.Footer-contact {
  font-family: "Montserrat";
  font-weight: bolder;
  line-height: 100px;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  font-size: 20px;
  transition: all .3s ease-out; }
  .Footer-contact:hover {
    opacity: .7; }

.modalPayment {
  display: none;
  background-color: #FFD221;
  z-index: 10000;
  width: 40%;
  height: 50%;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  margin: auto;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
  .modalPayment-FirstCard {
    height: 50%;
    width: 60%;
    background-color: #FFF;
    position: relative;
    top: 15%;
    left: 10%;
    border-radius: 5px; }
    .modalPayment-FirstCard-imgContainer {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 48px;
      height: 48px; }
      .modalPayment-FirstCard-imgContainer img {
        width: 100%;
        height: auto; }
    .modalPayment-FirstCard-Content {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 60px;
      width: 90%; }
      .modalPayment-FirstCard-Content-Title {
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 12px;
        margin-bottom: 10px; }
      .modalPayment-FirstCard-Content .packageInput-item {
        width: 15px;
        height: 20px;
        border: 1px solid grey;
        margin-right: 5px;
        text-align: center; }
      .modalPayment-FirstCard-Content-inputContainer {
        display: flex;
        width: 90%;
        justify-content: space-between; }
        .modalPayment-FirstCard-Content-inputContainer .packageInput {
          display: flex;
          justify-content: space-between; }
      .modalPayment-FirstCard-Content-SecondContainer {
        margin-top: 20px;
        display: flex;
        align-items: center; }
        .modalPayment-FirstCard-Content-SecondContainer .expireText {
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: lighter;
          margin-right: 10px; }
        .modalPayment-FirstCard-Content-SecondContainer .slash {
          font-size: 25px;
          margin: 0 10px;
          color: grey;
          font-family: "Montserrat";
          font-weight: lighter; }
      .modalPayment-FirstCard-Content .NameContainer {
        margin-top: 20px; }
        .modalPayment-FirstCard-Content .NameContainer input {
          font-size: 18px;
          height: 50px;
          width: 40%;
          border: none; }
          .modalPayment-FirstCard-Content .NameContainer input::placeholder {
            font-size: 18px;
            font-family: "Montserrat";
            font-weight: lighter;
            letter-spacing: 4px; }
  .modalPayment-secondCard {
    height: 50%;
    width: 60%;
    background-color: #D8D8D8;
    position: absolute;
    top: 25%;
    z-index: -1;
    right: 10%;
    border-radius: 5px; }
    .modalPayment-secondCard-Bande {
      position: absolute;
      width: 100%;
      height: 40px;
      background-color: #003049;
      top: 10%;
      border: none; }
    .modalPayment-secondCard .containerCVV {
      margin-top: 100px;
      position: absolute;
      right: 40px;
      width: 70px;
      font-family: "Montserrat";
      font-weight: 500;
      letter-spacing: 2px; }
      .modalPayment-secondCard .containerCVV input {
        margin-top: 10px;
        height: 25px;
        width: 100%;
        border: none; }
  .modalPayment .footerCard {
    position: absolute;
    bottom: 25px;
    width: 80%;
    height: 70px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .modalPayment .left {
    display: flex;
    width: 60%;
    align-items: center; }
    .modalPayment .left .round {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #5B5217; }
    .modalPayment .left .traitRound {
      transform: translateX(-30px);
      height: 3px;
      width: 250px;
      border: none;
      background-color: #003049;
      z-index: -1; }
    .modalPayment .left .round2 {
      transform: translateX(-50px);
      background-color: #5B5217; }
  .modalPayment .right {
    background-color: #003049;
    padding: 10px 20px;
    color: #FFF;
    font-family: "Montserrat";
    font-weight: lighter;
    cursor: pointer; }

.payment2 {
  display: none; }
  .payment2-Flex {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .payment2-Container {
    position: relative;
    transform: translateY(-50%);
    top: 40%;
    width: 80%;
    margin: auto; }
    .payment2-Container-item {
      width: 100%;
      border: none;
      height: 40px;
      margin-top: 20px;
      padding: 10px 0 10px 10px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
    .payment2-Container-item2 {
      width: 60%;
      border: none;
      height: 40px;
      margin-top: 20px;
      padding: 10px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
    .payment2-Container-item3 {
      padding: 10px;
      width: 30%;
      border: none;
      height: 40px;
      margin-top: 20px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
    .payment2-Container-item4 {
      width: 70%;
      border: none;
      height: 40px;
      margin-top: 20px;
      padding: 10px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }

.paymentRound-active {
  background-color: #003049 !important; }

.msg {
  height: 100vh;
  width: 100vw; }
  .msg-title {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-family: "Montserrat";
    font-weight: bolder; }

::selection {
  background-color: #FDE74C;
  color: #FFF; }

/*# sourceMappingURL=main.css.map */
