.bubble1 {
  position: absolute;
  z-index: -1;
  width: 50px;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 50px;
  margin-top: 100%;
  opacity: 0.05;
  left: 500px;
}

.bubble2 {
  opacity: 0.05;
  position: absolute;
  width: 100px;
  z-index: -1;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 30%;
  left: 800px;
}

.bubble3 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 50%;
  left: 200px;
}
.bubble4 {
  z-index: -1;
  position: absolute;
  width: 70px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 70px;
  margin-top: 70%;
  right: 150px;
}
.bubble5 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 150%;
  left: 800px;
}
.bubble6 {
  z-index: -1;
  position: absolute;
  width: 150px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 150px;
  margin-top: 150%;
  right: 200px;
}
.bubble7 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 180%;
  left: 200px;
}
.bubble8 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 200%;
  right: 500px;
}
.bubble9 {
  z-index: -1;
  position: absolute;
  width: 70px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 70px;
  margin-top: 280%;
  left: 800px;
}
.bubble10 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 310%;
  left: 300px;
}
.bubble11 {
  z-index: -1;
  position: absolute;
  width: 60px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 60px;
  margin-top: 270%;
  right: 200px;
}
