.header {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  width: 90%;
  background-color: #FFD221;
  z-index: 10000000000000;
  &-content{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo{
    font-family: "Raleway";
    font-weight: bolder;
    font-size: 20px;
    display: block;
  }
  &-link{
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 3px solid black;
    display: block;
    transition: all .3s ease-out;
    &:hover{
      border-color: transparent;
      opacity: .7;
    }
  }
}
