.modalPayment{
  background-color: #FFD221;
  z-index: 10000;
  width: 40%;
  height: 50%;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  margin: auto;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  &-FirstCard{
    height: 50%;
    width: 60%;
    background-color: #FFF;
    position: relative;
    top: 15%;
    left: 10%;
    border-radius: 5px;
    &-imgContainer{
      position: absolute;
      right: 20px;
      top: 20px;
      width: 48px;
      height: 48px;
      img{
        width: 100%;
        height: auto;
      }
    }
    &-Content{
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 60px;
      width: 90%;
      &-Title{
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 12px;
        margin-bottom: 10px;
      }
      .packageInput-item{
        width: 15px;
        height: 20px;
        border: 1px solid grey;
        margin-right: 5px;
      }
      &-inputContainer{
        display: flex;
        width: 90%;
        justify-content: space-between;
        .packageInput{
          display: flex;
          justify-content: space-between;

        }
      }
      &-SecondContainer{
        margin-top: 20px;
        display: flex;
        align-items: center;
        .expireText{
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: lighter;
          margin-right: 10px;
        }
        .slash{
          font-size: 25px;
          margin:0 10px;
          color: grey;
          font-family: "Montserrat";
          font-weight: lighter;
        }
      }
    }
  }

}
